/* Basic Reset */
* {
    margin: 0; /* Removes default margins from all elements */
    padding: 0; /* Removes default padding from all elements */
    box-sizing: border-box; /* Changes the box model to include padding and border in element's width/height */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Sets the default font family */
    background-color: #fffbe6; /* Sets a light grey background color for the page */
    color: #333; /* Sets the default text color to a dark grey */
    line-height: 1.6; /* Sets the default line height */
}

header {
    background-color: #fffbe6; /* Sets a slightly different shade of grey for the header background */
    padding: 20px; /* Adds padding inside the header */
    text-align: center; /* Centers the text inside the header */
    color: #444; /* Makes header text a bit darker */
}
header h1 {
    font-family: 'Great Vibes', cursive; /* Applies the Great Vibes font */
    color: #3b2f1a; /* You can adjust this color as needed */
    font-size: 2.9em; /* Adjust the font size as needed */
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

nav ul {
    list-style: none; /* Removes bullet points from list */
    padding: 0; /* Removes default padding */
    display: flex; /* Displays list items in a row */
    justify-content: center; /* Centers list items horizontally */
    gap: 20px; /* Adds space between list items */
}

nav ul li {
    display: inline; /* Displays list items inline */
    margin-right: 10px; /* Adds right margin to list items */
}

nav ul li a {
    color: #141414;
}

main {
    padding: 20px; /* Adds padding inside the main content area */
    text-align: center; /* Centers text inside the main content area */
}

a {
    color: #0066cc; /* Sets color for links */
    text-decoration: none; /* Removes underline from links */
    font-weight: bold; /* Makes link text bold */
}

a:hover {
    text-decoration: underline; /* Adds underline to links on hover */
}

p {
    margin-bottom: 20px; /* Adds margin below paragraphs */
    font-size: 18px; /* Sets font size for paragraphs */
}
